<h1>Les formulaire</h1>

<section>
    <h2>Template driven forms</h2>

    <h3>Sans two way binding</h3>

    <div>
        <label for="msg">Message</label>
        <input 
            type="text"
            id="msg"
            [value]="message"
            (input)="updateMessage($event)"
        >
    </div>
    <p>Message = {{message}}</p>

    <h3>Avec le two way binding</h3>

    <div>
        <label for="msg2">Message</label>
        <input type="text" id="msg2" [(ngModel)]="message2">
    </div>
    <p>Message 2 = {{message2}}</p>


    <h3>Formulaire</h3>

    <form (ngSubmit)="submitUser()">
        <div>
            <label for="name">Nom</label>
            <input type="text" id="name" name="name" [(ngModel)]="user.name">
        </div>
        <div>
            <label for="email">Email</label>
            <input type="email" id="email" name="email" [(ngModel)]="user.email">
        </div>
        <div>
            <label for="password">Mot de passe</label>
            <input type="password" id="password" name="password" [(ngModel)]="user.password">
            @if (passwordHasError){
                <small>Mot de passe invalide</small>
            }
        </div>
        <button>Valider</button>
    </form>
</section>


<section>
    <h2>Reactive Forms</h2>

    <form (ngSubmit)="saveBook()">
        <div>
            <label for="book">Titre du livre</label>
            <input type="text" id="book" [formControl]="book_control">
            @if(book_control.invalid && !book_control.untouched){
                @if(book_control.hasError('required')){
                    <span>Champs Obligatoire</span>
                } @else if (book_control.hasError('minlength')){
                    <span>Trop court</span>
                } @else {
                    <span>Format invalide</span>
                }
            }
        </div>
        <button>Save</button>
    </form>

    <h1>Formation</h1>

    <form [formGroup]="formation_form" (ngSubmit)="saveFormation()">
        <div>
            <label for="title">Titre</label>
            <input type="text" id="title" formControlName="title">
        </div>

        <div>
            <label for="duree">Durée</label>
            <input type="number" id="duree" formControlName="duration">
        </div>

        <fieldset formGroupName="trainer">
            <div>
                <label for="firstname">Prénom</label>
                <input type="text" id="firstname" formControlName="firstname">
            </div>
            <div>
                <label for="lastname">Nom</label>
                <input type="text" id="lastname" formControlName="lastname">
            </div>
        </fieldset>

        <fieldset formArrayName="modules">
            @for (control of modules.controls; track control) {
                <div>
                    <label [for]="'module' + $index">Module  {{$index + 1}}</label>
                    <input type="text" [id]="'module' + $index" [formControlName]="$index">
                </div>
            }
            <button (click)="addModule()">Ajouter un module</button>
        </fieldset>
        <button>Sauvegarder</button>

    </form>
</section>