<article
  class="bg-gray-300 shadow-lg rounded-lg p-6 max-w-sm border-4 border-gray-400"
>
  <!-- Fond dynamique en fonction du type principal -->
  <div class="p-4 rounded-lg" [ngClass]="getTypeColor(pokemon.types[0])">
    <!-- Nom du Pokémon -->
    <h3 class="text-2xl font-bold text-center text-white">
      {{ pokemon.name }}
    </h3>

    <!-- Description -->
    <p class="text-center text-gray-100 mb-4">{{ pokemon.description }}</p>

    <!-- Types du Pokémon -->
    <h4 class="font-semibold text-white">Types :</h4>
    <div class="types flex gap-2 mt-2 mb-4">
      <span
        class="rounded px-3 py-1 text-white font-semibold"
        *ngFor="let type of pokemon.types"
        [ngClass]="getTypeColor(type)"
      >
        {{ type }}
      </span>
    </div>

    <!-- Zone du Pokémon -->
    <h4 class="font-semibold text-white">Zone :</h4>
    <p class="text-white">
      <b>{{ pokemon.zone.name }} :</b> {{ pokemon.zone.description }}
    </p>

    <!-- Attaques -->
    <h4 class="font-semibold text-white mt-4">Attaques :</h4>
    <ul class="attacks list-disc ml-6 text-white">
      <li *ngFor="let att of pokemon.attacks">
        {{ att.name }} → <span class="font-semibold">{{ att.power }}</span>
      </li>
    </ul>

    <!-- Bouton d'ajout au Pokedex -->
    <button
      (click)="addToPokedex()"
      class="mt-4 w-full bg-green-600 hover:bg-green-700 text-white font-semibold py-2 px-4 rounded-lg transition-all duration-300"
    >
      Ajouter au Pokedex
    </button>

    <!-- Bouton de suppression -->
    <button
      (click)="delete.emit()"
      class="mt-4 w-full bg-red-600 hover:bg-red-700 text-white font-semibold py-2 px-4 rounded-lg transition-all duration-300"
    >
      Supprimer
    </button>
  </div>

  <!-- Bouton de suppression -->
   <button (click)="delete.emit()" >Supprimer</button>

</article>
